@use "../abstracts" as *;

// Utility aspect-ratio classes
.aspect {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 0.75rem;

  img,
  picture,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// ratios
.aspect-1x1 {
  padding-top: 100%;
}
.aspect-4x3 {
  padding-top: 75%;
}
.aspect-16x9 {
  padding-top: 56.25%;
}
.aspect-3x2 {
  padding-top: 66.666%;
}
.aspect-2x3 {
  padding-top: 150%;
}
.aspect-21x9 {
  padding-top: 42.85%;
}
