// New color theme
$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;

// Global font
$font-family-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  sans-serif;

// Border radius
$border-radius: 0.5rem;

// Nav customization
$navbar-light-color: #000;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-light-brand-color: $primary;

// Buttons
$btn-padding-y: 0.65rem;
$btn-padding-x: 1.3rem;

// Custom button size extensions (xs, xl)
$btn-font-size-xs: 0.75rem;
$btn-padding-y-xs: $btn-padding-y * 0.5;
$btn-padding-x-xs: $btn-padding-x * 0.75;
$btn-border-radius-xs: $border-radius;
$line-height-xs: 1.25;

$btn-font-size-xl: 1.25rem;
$btn-padding-y-xl: $btn-padding-y * 1.25;
$btn-padding-x-xl: $btn-padding-x * 1.25;
$btn-border-radius-xl: $border-radius;
