@use "../abstracts" as *;

body.theme-light {
  background-color: #f5f5f5;
  color: #212529;
}

body.theme-dark {
  background-color: #121212;
  color: #f8f9fa;
}

body.theme-dark .navbar {
  background-color: #000 !important;
}

.main-content {
  min-height: 100vh;
  padding-top: 4.5rem;
}
