// src/scss/admin.scss

@use "sass:math";

// Bootstrap core
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";

// Pick what you need for admin
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/utilities";

// Admin layout styles
body.admin-layout {
  min-height: 100vh;
  background-color: #f5f5f7;
}

.admin-wrapper {
  display: flex;
  min-height: 100vh;
}

.admin-sidebar {
  width: 260px;
  background-color: #111827;
  color: #e5e7eb;
}

.admin-sidebar a {
  color: inherit;
  text-decoration: none;
}

.admin-sidebar a.active,
.admin-sidebar a:hover {
  background-color: #1f2937;
}

.admin-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.admin-topbar {
  border-bottom: 1px solid #e5e7eb;
  background-color: #ffffff;
}

.admin-content {
  padding: 1.5rem;
}
